
.footer {
  background: #000;
}

.footer h6 {
  font-size: 14px;
}

.footer p,
.footer li {
  color: #bbb;
}

.footer li:hover {
  color: #fff;
  cursor: pointer;
}

.text-success {
  color: #28a745 !important;
}